<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Ecoleta</title>
  {% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  {% block styles %}{% endblock %}
  <link rel="stylesheet" href="/styles/responsive.css">
</head>

<body>
  <div id="{{ pageId }}">
    {% block content %}{% endblock %}
  </div>
  {% block modal %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>

</html>